
:root{
    --primary-text-color:#434455;
    --secondary-text-color: #2E2F42;
    --primary-logo-color:#4D5AE5;
    --accent-color:#404BBF;
    --contact-text-color:#434455;
    --bg-color:#FFFFFF;
    --bg-hero:#2E2F42;
    --hero-titlle-color:#FFFFFF;
    --bg-button: #4D5AE5;
    --bg-team:#F4F4FD; 
    --logo-footer: #F4F4FD;
    --function-direction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 
body{
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-color);
    background-color:var(--bg-color);
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
img {
    display: block;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-header {
    display: flex;
     
}

.container{
 width: 1158px;
 padding: 0 15px;
 margin-left: auto;
 margin-right: auto;
}
/* header */
.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link.active{
    color: #404BBF;
    position: relative;

}
.active::after{
    content: "";
    position: absolute;
    left: 0;
    background-color:  #404BBF;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        bottom: -1px;

}
.list-address{
    display: flex;
    gap: 40px;
}
.address{
    margin-left: auto;
}
.logo {
margin-right: 76px;
 font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-logo-color);
}
.logo-header {
    color: var(--secondary-text-color);

}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
padding: 24px 0;
display: block;
transition: color var(--function-direction);
}

.nav-link:hover,
.nav-link:focus{
    color:var(--accent-color);
}

.address {
    font-style: normal;

}
.contact-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--contact-text-color);
padding: 24px 0;
display: block;
transition: color var(--function-direction);
}
.contact-link:hover,
.contact-link:focus{
    color:var(--accent-color);
}
/* section 1 */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people1.jpg);
max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--bg-hero);
   padding-top: 188px;
   padding-bottom: 188px;
}
.hero-tittle {
   max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--hero-titlle-color);
}
.hero-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
    font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--bg-button);
color: var(--hero-titlle-color);
cursor: pointer;
transition: background-color var(--function-direction);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--accent-color);
}
/* section 2 */
.feature{
    padding: 120px 0;
}
.feature-list{
    display: flex;
gap: 24px;
}
.feature-item{
    width: calc((100% - 72px) / 4);
}
.icon-wrap{
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.feature-title {
 margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color:var(--secondary-text-color);

}
.feature-text {
    width: 264px;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-text-color);

}
/* section 3 */
.doing{
    padding-bottom: 120px;

}
.doing-list{
    display: flex;
    gap: 24px;
}
.section-title{
 margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color:var(--secondary-text-color);

}
.doing-item{
    width: calc((100% - 48px) / 3);

}

/* section 4 */
.team{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 
     0px 2px 1px rgba(46, 47, 66, 0.08);
    padding: 120px 0;
    background-color: var(--bg-team);
}
.team-list{
    display: flex;
   gap: 24px;
}
.team-item{
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     
}
.team-item-content{
    padding: 32px 0;
  
}
.team-title {
    margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color:var(--secondary-text-color);

}
.team-desc {
   
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 8px;

color: var(--primary-text-color);

}
.team-item{
    background-color: var(--bg-color);
}
.social-list{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
 transition: background-color var(--function-direction);
    
}
.social-link:hover,
.social-link:focus{background-color:#404BBF}
.social-icon {
    fill: #F4F4FD;

}
.footer-email{
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
.submit{
    
}


/* customers */
.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-list{
    display: flex;
    gap: 24px;
}
.customers-item{
    height: 88px;
    width: calc((100% - 120px) / 6);

}
.customers-link{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
    transition: border-color var(--function-direction), color var(--function-direction);

}
.customers-icon {
    fill: currentColor;
}
.customers-link:hover,
.customers-link:focus{
    color: #404BBF;
    border-color: #404BBF;
}
/* footer */
.footer {
   padding: 100px 0;
    background-color: var(--bg-hero);
}

.logo-footer {
    color: var(--logo-footer);
}
.logo-footer-bock{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-desc { 
    max-width: 264px;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--logo-footer);
}
.footer-media{

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;

}

.footer-contener{
    display: flex;
    align-items: baseline;
}
.logo-wrap{
    margin-right: 120px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;

}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#4D5AE5;
   transition:background-color var(--function-direction) ;
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31D0AA;
}
.footer-soc-icon {
    fill: #F4F4FD;
}

.footer-wrapper{
  margin-left: auto;


}
.footer-form-desc{
    margin-bottom: 16px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--logo-footer);
    
}
.footer-form{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-form-field {
    display: block;
    font-size: 12px;
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

.footer-form-inpus {
    width: 264px;
    height: 40px;
    border: 1px solid  #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    padding: 8px 16px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
}

.footer-form-btn {
    display: flex;
    border: none;
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        gap: 16px;
        background: #4D5AE5;
            border-radius: 4px;
}

.footer-form-icon {
fill: #FFFFFF;
}


/* portfolio */
.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}
.portfolio-btn{
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
border-radius: 4px;
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--bg-button);
cursor: pointer;
 background-color:var(--bg-team) ;
 transition: box-shadow var(--function-direction), color var(--function-direction), background-color var(--function-direction), border-color var(--function-direction) ;

}
.portfolio-btn:hover,
.portfolio-btn:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--hero-titlle-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
}
.cart-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.card-link{
    display: block;
    transition: box-shadow var(--function-direction);
}
.card-link:hover,
.card-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cart-item{
    width: calc((100% - 48px) / 3); 

}
.overlay {
    position: relative;
    overflow: hidden;
    
}

.portfolio-cart-text {
    position: absolute;
    top: 0;
        height: 100%;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        padding: 40px 32px;
        background-color: #4D5AE5;
transform: translateY(100%);
transition: transform var(--function-direction);

}
.card-link:hover .portfolio-cart-text,
.card-link:focus .portfolio-cart-text{
    transform: translateY(0%);

}
.portfolio-item-content{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--secondary-text-color);

}
.portfolio-desc {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-text-color);

}

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--function-direction), visibility var(--function-direction) ;
padding: 24px;
}

.modal {
    position: absolute;
    width: 408px;
        min-height: 576px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        background: #FCFCFC;
        border-radius: 4px; 
        transition: transform var(--function-direction);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 72px 24px 24px; 

  
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal-close-btn {
    position: absolute;
        width: 24px;
        height: 24px;
        right: 24px;
        top: 24px;
        padding: 0;
        border-radius: 50%;
        background-color:#E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color var(--function-direction),border var(--function-direction);
    
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404BBF;
    border: none;

}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon{
    fill: #FFFFFF;
}

.modal-close-icon {
    transition: fill var(--function-direction);
}



/* Modal form */

.modal-title{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}


.modal-form {}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-wrapper {
    position: relative;
    margin-bottom: 10px;

}

.form-field {
    width: 100%;
    height: 40px;
    outline: transparent;
    outline-offset: -1px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 0;
    padding-left: 38px;
    transition: 400ms;
}
.form-field:focus{
    outline: 1px solid var(--bg-button);

}
.form-icon{
    position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: 400ms;
pointer-events: none;
    

}
.form-field:focus + .form-icon {
    fill: #4D5AE5;

}
.form-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 14px;
    margin-bottom: 16px;
    resize: none;
    border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.form-agreement{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #8E8F99;
}

.form-check-input{
   appearance: none;
   display: flex;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
width: 16px;
    height: 16px;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    transition: 200ms;
}
.form-check-input:checked{
    background-color: #404BBF;
    border-color: #404BBF;
}
.form-check-input:focus-visible{
    outline-color:#404BBF;
}
.form-agreement-text{
width: 16px;
    height: 16px;
  display: inline-flex;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.form-check-input:checked + .form-agreement > .form-agreement-text{
    background-color: #404BBF;
    fill:#FFFFFF;
    border: none;
}
.form-check-input:checked+.form-agreement>.form-agreement-text{
    background-color: #404BBF;

}
.form-agreement-link{
    color: #4D5AE5;
}
.form-btn{
        display:block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
        height: 56px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        align-items: center;
        text-align: center;
        background-color: var(--bg-button);
        color: var(--hero-titlle-color);
        cursor: pointer;
        transition: background-color var(--function-direction);
}
.form-btn:hover,
.form-btn:focus{
    background-color: var(--bg-button);
}